<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604262237348-g6eeloafp7tg69jjh4j2t7fu728k8928.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604262237348-g6eeloafp7tg69jjh4j2t7fu728k8928</string>
	<key>API_KEY</key>
	<string>AIzaSyDTwW6SkJGhaNz1nqROz-vCsoATSpfJNyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>604262237348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>frontend-8de80</string>
	<key>STORAGE_BUCKET</key>
	<string>frontend-8de80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604262237348:ios:08ee579775f2993eacd231</string>
</dict>
</plist>